<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notification.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>update</h1>
    <textarea name="" id=""></textarea>

    <i class="material-icons icon">update</i>
    </div>
    </div>
</body>
</html>