<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notification.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
    <label for="">staff</label>
    <select name="" id="">
        <option value="">select staff</option>
        <option value="">maya</option>
        <option value="">ajay</option>
    </select><br>
    <label for="">work</label>
    <input type="textarea"><br>
    <input type="submit" value="assign">
    </div>
    </div>

</body>
</html>