<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notification.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>complaint</h1>
    <label>username</label>
    <input type=" text"><br>
    <label>date</label>
    <input type="text"><br>
    <label>feedback</label>
    <textarea name="" id=""></textarea>
    <type="" value="reply">
    <a href ="#">reply</a>
        </div>
        </div>
    
</body>
</html>