<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>


    <table border="1px">
        <tr>
            <th>username</th>
            <th>gender</th>
            <th>address</th>
            <th>age</th>
            <th>phone</th>
            <th>e-mail</th>
            <th></th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
                <a href="#"><li class="material-icons icon">edit</li></a>
                <a href="#"><li class="material-icons icon">delete</li></a>
            </td>
        </tr>
        <tr>
            <td colspan="10"><a href="#"><li class="material-icons icon">add</li></a></td>
        </tr>
            
        
        
</table>


</body>
</html>