<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="table.css">
    
</head>
<body>

    <table >
        <tr>
            <th>username</th>
            <th>gender</th>
            <th>address</th>
            <th>age</th>
            <th>phone</th>
            <th>e-mail</th>
        </tr>
        <tr>
        <td>hjjhg </td>
        <td> kjkhj</td>
        <td>jbjbhj </td>
        <td> knkj</td>
        <td> kjhhj</td>
        <td> ghjjh</td>
        </tr>

    </table>
</body>
</html>